.bodyPad {
    padding: 15px 30px 15px 30px;
}
body {
    background-color: lightslategray;
}
.cardPad {
    padding: 15px 30px 15px 30px;
    margin: 5px 15px 5px 15px;
}
.btn {
    margin: 10px;
    text-align: center;
}
.rocketImg {
    margin: 15px;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: right;
  }
.fa:hover {
    opacity: 0.7;
}