.bodyPad {
    padding: 15px 30px 15px 30px;
}
body {
    background-color: lightslategray;
}
.cardPad {
    padding: 15px 30px 15px 30px;
    margin: 5px 15px 5px 15px;
}
.btn {
    margin: 10px;
    text-align: center;
}